.add-result-button {
  margin-left: auto;
}
.add-result-button button {
  background-color: #ffcc28;
  color: black;
  height: 100%;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: black;
}

.match-player__name {
  min-width: 45%;
}

.match-player {
  margin-bottom: 15px;
  background-color: #222;
}
