.add-result-button {
  margin-left: 5px;
}
.add-result-button button {
  background-color: #ffcc28;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.match-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.challenge-button, .add-result-button {
  width: 50%;
  font-size: 14px;
}

.match-player button {
  font-size: 14px;
  padding: 10px 8px;
}

.match-player__name {
  min-width: 40%;
}

.match-player {
  margin-bottom: 15px;
  background-color: #222;
}
