.add-result-button {
  margin-left: 5px;
}
.add-result-button button {
  background-color: #ffcc28;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.match-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.alert-sent {
  text-align: center;
  border-radius: 4px;
  display: inline-block;
}

.challenge-button, .add-result-button, .alert-sent {
  font-size: 14px;
}

.match-player button, .alert-sent {
  font-size: 14px;
  padding: 10px 8px;
}

.match-player__name {
  min-width: 40%;
}

.match-player {
  margin-bottom: 15px;
  background-color: #222;
}

.alert-sent {
  color: white;
  background-color: green;
}
