html, body, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  height: 100%;
}

.app {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.app__body {
  background-color: #333;
  padding: 20px 0;
  overflow-y: auto;
}

.app__topbar {
  background-color: #222;
  padding: 20px 20px 0;
  color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.35);
  z-index: 1;
}

.bound {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.topbar__logo {
  height: 60px;
}

.toolbar {
  height: 50px;
  background-color: #f00;
}

.tab-bar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 10px;
  background-color: #222;
}

.tab-item {
  flex: 1;
  text-align: center;
}
.tab-item a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.tab-item a:hover {
  color: #ffcc28;
}

.tab-item--active {
  border-bottom: 3px solid #ffcc28;
  color: #ffcc28;
}

h1 {
  color: white;
  margin: 20px;
  font-size: 1.4em;
}

h2 {
  color: #ffcc28;
  margin: 20px;
  font-size: 1.3em;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

.ladder {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ladder-player {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: white;
  height: 50px;
  align-items: center;
  width: 100%;
}

.ladder-player > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}


.ladder-player:nth-child(odd) {
  background-color: #222;
}

.ladder-player__name--current {
  color: #ffcc28;
}

.ladder-player__rank {
  width: 50px;
  text-align: center;
}

.ladder-player__image {
  height: 50px;
  margin-right: 15px;
}

.ladder__win-loss {
  margin-left: auto;
  margin-right: 10px;
  color: #666;
}

.wins {
  color: #18dc18;
}

.losses {
  color: #fd4e4e;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
}
